In [5]:
# reading the data of decathlon.txt file
import os
import pandas as pd

In [39]:
con=open("C:\\Users\\hemanth\\Downloads\\JigSaw\\Day 12\\PythonForModellers-master\\PythonForModellers-master\\Data\\decatthlon.txt","r")

In [40]:
data=con.read()

'Whitefield, Bengaluru-560048,ITPB Main Road,Mahadevpura\nDecathlon Anubhava,Bellary Road, Bengaluru - 562157,Survey No-78/10, A2 Chikajala Village, Bellary Road\nSarjapur,Bengaluru - 560035,Survey 96/1, Sarjapur Road\nOld Madras Road,K R Puram, Bengaluru - 560049,Survey No. 39/3, Bandapura Village, Bidahalli Hobli\nMysore Road, Bengaluru - 560074,2.5 Km after Nice Road Junction,Next to KAVCON Factory, Bengaluru - 560074, Karnataka.\nBannerghatta, Bengaluru - 560076,Raj Alkaa Park, Joseph garden,Kalena Agrahara village, Bannerghatta road, Begur hobli, Bengaluru - 560076, Karnataka.\nHosur Road, Bengaluru - 560099,#242, Bommasandra Industrial Area,Next to D Mart and Indian Oil Petrol Pump Hosur Road, Bengaluru - 560099, Karnataka.\nNext to Applewoods Township, Near Shantipura crossroads, Sardar Patel Ring Road , Ahmedabad - 380058, Gujarat.\nGT Bypass road Next Khanna Paper Mill , Amritsar - 143001, Punjab.\nProzone Mall,Ground Floor,P-80,MIDC,Chikalthana, Aurangabad - 431001, Maharashtra.\nOpp Kabir Farms, Gotri-Sevasi Road, Baroda - 391101, Gujarat.\nDag Nos. 363, 367 and 368, NH5, Beside Aditya Motors, Bandhchadda, alias Kacharamala, PO Phulnakhara, District Cuttack, Bhubaneswar - 754001, Odisha.\nSurvey No.835/1C, NH-4, Bangalore Highway, Mevalurkuppam B, Near EVP World Amusement Park, Chennai - 600056, Tamil Nadu.\nSurvey No:458 & 459, Next to Mantri Synergy, Hindustan University, Padur Village, Chengelpet Thaluk, Kancheepuram District, Old Mahabalipuram Road, , Chennai - 603103, Tamil Nadu.\n500 mtrs from Le Meridien, GS NO 716/2B & 717/2B ,Neelambur, Coimbatore - 641062, Tamil Nadu.\nIndirapuram Habitat Centre - IHC,Victory Habitat Centre,Ahinsa Khand 1, , Indirapuram,Ghaziabad, Uttar Pradesh 201014, Ghaziabad - 201014, Uttar Pradesh.\nOmaxe Celebration Mall, Subhash Chowk, , Sohna Road, Sector 48, Gurgaon - 122103, Haryana.\nDakhin Rani, Vill-Kahikuchi Azara Circle, Assam Dag No. 656, Patta No. 140, Near Rani Gate, Guwahati - 781017, Assam.\nGokul Road, Manjunath Nagar, Near Big Bazaar, Hubli - 580030, Karnataka.\nOpposite to spark hospital , uppal, Hyderabad - 500039, Telangana.\nRajiv Gandhi international airport, Shamshabad, Hyderabad - 500409, Andhra Pradesh.\nSurvey No. 48/2, Madapu Estate, Beside Sarojini Gardens,, Pet-Basheerbad, Quthbullapur Mandal, Rr Dist, Hyderabad - 500067, Telangana.\nKhasra No. 199, Khasra No. 198/2/4 and Khasra no. 197/1/2, Village Nipania, Opposite to Water Lily hotel and Delhi Public School, Indore - 452010, Madhya Pradesh.\nNH Bypass, NH47, Thykoodam, Near Orma Marbles, Kochi - 682019, Kerala.\nJunction ICT (International Container Terminal) Road,NH 47, Beside SCMS College, Kochi - 683104, Kerala.\nP S Uluberia, District Howrah, Kolkata - 711307, West Bengal.\nJalandhar Bye Pass,Vill Teh. & Distt. Ludhiana, Bhattian, Ludhiana - 141007, Punjab.\n147/2B1, Melur main road,Narasingam bit 4, High Court Road Near to Reliance market, Ulaganeri, Madurai - 625107,Tamil Nadu, 300 Mts from Reliance Market towards Melur, Madurai - 625107, Tamil Nadu.\nNorth Country Mall: NH-21, Kharar-Mohali Road, Sector 117 - Sahibzada Ajit Singh Nagar - Mohali, Mohali - 140307, Punjab.\nSiddartha Layout, Bannur Road, Mysore - 570011, Karnataka.\nMumbai - Nashik Expressway, Vilholi, Taluka & District, Nashik - 422010, Maharashtra.\nMetroWalk Mall, Next to Rithala Metro Station, Rohini, Delhi. 110085, New Delhi - 110085, Delhi.\nBuilding AV 105, First Floor, A-2, Sector 38, Entertainment City, Great India Place, Noida - 201301, Uttar Pradesh.\nSurvey No. 1333/4,Next to Soyarik Garden, Bhadale Nagar, Pune Nagar road, Wagholi, Tal Haveli, Pune - 412207, Maharashtra.\nVidhan Sabha Road, (Near Ambuja City Centre), Opp to SBI, Raipur - 492014, Chattisgarh.\nDecathlon Thane, Big Shopping Center, Ghodbunder Road, Kasarvadawali Gaon, Thane - 400615, Maharashtra.\nSurvey No. 518,517/4 , NH Bypass Road , Thalore, Thrissur - 680306, Kerala.\nChandigarh- Ambala Road (NH 22), Singh Pura, Zirakhpur Municipal Council , Zirakpur - 140603, Punjab.'

In [42]:
listdata=data.split("\n")

In [44]:
demodf=pd.DataFrame()

In [45]:
for li in listdata:
    templi=li.split(",")
    demodf.append(templi)

In [17]:
# Reading the mmwoes.csv file to a data frame
import pandas as pd
datamm=pd.read_csv("C:\\Users\\hemanth\\Downloads\\JigSaw\\Day 12\\PythonForModellers-master\\
PythonForModellers-master\\Data\\MMwoes.csv",skiprows=1)

In [18]:
datamm.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,apr,int_rate,installment,grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low
0,54734,80364,25000,25000,19419.94,36 months,13.62%,11.89%,829.10,B,...,23345.15,25000.00,4324.32,0.0,14-10-2011,7392.08,NaN,28-08-2012,789,785
1,55742,114426,7000,7000,6549.40,36 months,11.40%,10.71%,228.22,B,...,7758.80,7000.00,1215.45,0.0,02-06-2011,228.48,NaN,06-08-2012,679,675
2,57245,138150,1200,1200,1200.00,36 months,16.22%,13.11%,40.50,C,...,1457.31,1200.00,257.31,0.0,29-03-2013,42.73,NaN,25-03-2013,709,705
3,57416,139635,10800,10800,10637.65,36 months,16.17%,13.57%,366.86,C,...,13009.30,10800.01,2395.26,0.0,23-11-2012,398.00,NaN,21-12-2012,674,670
4,58524,149512,7200,7200,1800.00,36 months,22.81%,19.05%,264.11,D,...,526.16,1265.98,844.82,0.0,25-04-2013,264.11,21-05-2013,22-04-2013,649,645

In [19]:
datamm.dtypes

id                                  int64
member_id                           int64
loan_amnt                           int64
funded_amnt                         int64
funded_amnt_inv                   float64
term                               object
apr                                object
int_rate                           object
installment                       float64
grade                              object
sub_grade                          object
emp_name                           object
emp_length                         object
home_ownership                     object
annual_inc                          int64
is_inc_v                             bool
accept_d                           object
exp_d                              object
list_d                             object
issue_d                            object
loan_status                        object
pymnt_plan                         object
url                                object
desc                               object
purpose                            object
title                              object
addr_city                          object
addr_state                         object
acc_now_delinq                      int64
acc_open_past_24mths              float64
                                   ...
inq_last_6mths                      int64
mths_since_last_delinq            float64
mths_since_last_record            float64
mths_since_recent_inq             float64
mths_since_recent_loan_delinq     float64
mths_since_recent_revol_delinq    float64
mths_since_recent_bc              float64
mort_acc                          float64
open_acc                            int64
pub_rec_gt_100                    float64
pub_rec                             int64
total_bal_ex_mort                 float64
revol_bal                           int64
revol_util                         object
total_bc_limit                    float64
total_acc                           int64
initial_list_status                object
out_prncp                         float64
out_prncp_inv                     float64
total_pymnt                       float64
total_pymnt_inv                   float64
total_rec_prncp                   float64
total_rec_int                     float64
total_rec_late_fee                float64
last_pymnt_d                       object
last_pymnt_amnt                   float64
next_pymnt_d                       object
last_credit_pull_d                 object
last_fico_range_high                int64
last_fico_range_low                 int64
Length: 69, dtype: object

In [25]:
datamm.columns
datamm.rename(columns={"int_rate":"interest_rate"})

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,apr,interest_rate,installment,grade,...,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low
0,54734,80364,25000,25000,19419.940000,36 months,13.62%,11.89%,829.10,B,...,23345.15,25000.00,4324.32,0.000000,14-10-2011,7392.08,NaN,28-08-2012,789,785
1,55742,114426,7000,7000,6549.400000,36 months,11.40%,10.71%,228.22,B,...,7758.80,7000.00,1215.45,0.000000,02-06-2011,228.48,NaN,06-08-2012,679,675
2,57245,138150,1200,1200,1200.000000,36 months,16.22%,13.11%,40.50,C,...,1457.31,1200.00,257.31,0.000000,29-03-2013,42.73,NaN,25-03-2013,709,705
3,57416,139635,10800,10800,10637.650000,36 months,16.17%,13.57%,366.86,C,...,13009.30,10800.01,2395.26,0.000000,23-11-2012,398.00,NaN,21-12-2012,674,670
4,58524,149512,7200,7200,1800.000000,36 months,22.81%,19.05%,264.11,D,...,526.16,1265.98,844.82,0.000000,25-04-2013,264.11,21-05-2013,22-04-2013,649,645
5,58915,153417,7500,5025,4912.740000,36 months,10.77%,10.08%,162.34,B,...,5730.59,5024.99,818.81,0.000000,28-04-2011,162.63,NaN,16-05-2011,774,770
6,59006,154254,3000,3000,3000.000000,36 months,16.88%,14.26%,102.92,C,...,3703.38,3000.00,703.38,0.000000,04-10-2012,111.23,NaN,26-09-2012,694,690
7,61390,182594,4000,4000,3900.000000,36 months,9.39%,7.88%,125.13,A,...,4339.90,4000.00,451.17,0.000000,21-03-2012,1454.31,NaN,18-03-2012,744,740
8,61419,182917,5600,5600,5525.000000,36 months,18.11%,14.96%,194.02,D,...,6345.65,5220.69,1211.07,0.000000,09-10-2012,194.02,NaN,25-03-2013,499,0
9,62102,191024,3200,3200,3200.000000,36 months,12.52%,9.88%,103.08,B,...,3413.92,3200.00,213.92,0.000000,10-02-2011,2592.23,NaN,25-03-2013,689,685
10,65426,232106,4000,4000,4000.000000,36 months,13.36%,11.14%,131.22,B,...,2755.20,2170.35,584.85,0.000000,13-06-2011,131.22,NaN,08-10-2011,524,520
11,65640,234569,5000,2650,2650.000000,36 months,12.37%,11.34%,87.19,C,...,3153.73,2650.00,488.74,14.996559,25-05-2011,87.83,NaN,08-12-2009,499,0
12,66431,243540,2525,2525,2375.000000,36 months,13.94%,12.21%,84.12,B,...,2847.61,2525.00,502.47,0.000000,16-03-2012,89.75,NaN,18-03-2012,689,685
13,66749,246329,10625,10625,5329.662025,36 months,15.56%,13.47%,360.43,C,...,6109.99,10625.00,2348.29,0.000000,04-01-2012,370.44,NaN,27-12-2011,719,715
14,66943,247802,2800,2800,2700.000000,60 months,13.41%,11.49%,61.57,B,...,3028.60,2800.00,340.84,0.000000,18-10-2011,2348.97,NaN,07-03-2013,654,650
15,66964,247990,7500,7500,7500.000000,36 months,14.63%,13.24%,253.58,D,...,9128.45,7500.01,1628.44,0.000000,23-06-2011,253.87,NaN,17-06-2011,504,500
16,67503,252415,10000,10000,10000.000000,36 months,9.44%,8.59%,316.11,A,...,11280.04,10000.00,1280.04,0.000000,07-02-2012,3064.45,NaN,30-12-2012,734,730
17,68163,258249,3000,3000,3000.000000,36 months,9.64%,7.14%,92.82,A,...,3341.09,3000.00,341.09,0.000000,25-02-2013,97.75,NaN,01-02-2013,769,765
18,68381,260179,6625,6625,6475.000000,36 months,9.14%,8.63%,209.54,A,...,7370.77,6625.00,916.53,0.000000,01-03-2011,424.12,NaN,16-06-2011,714,710
19,68817,264119,10000,10000,9775.000000,36 months,12.06%,11.03%,327.53,C,...,11443.70,10000.00,1707.07,0.000000,28-09-2010,23.15,NaN,07-09-2010,719,715
20,68926,264924,2300,2300,2300.000000,36 months,14.91%,13.17%,77.69,D,...,2796.56,2300.00,496.56,0.000000,01-09-2011,77.78,NaN,22-04-2013,689,685
21,69001,265533,15000,15000,14900.000000,36 months,9.79%,8.94%,476.58,A,...,17016.44,15000.00,2130.65,0.000000,05-07-2012,1919.13,NaN,23-07-2012,754,750
22,69124,266619,18000,18000,17800.000000,36 months,11.08%,10.39%,584.12,B,...,20792.41,18000.00,3026.01,0.000000,01-04-2011,598.22,NaN,18-03-2012,589,585
23,69168,266943,5000,5000,4975.000000,36 months,16.54%,15.13%,173.65,E,...,6217.39,5000.00,1248.59,0.000000,20-04-2011,184.81,NaN,22-04-2013,684,680
24,69251,267771,6000,6000,6000.000000,36 months,8.51%,8.00%,188.02,A,...,6783.62,5999.99,768.63,14.996809,12-05-2011,189.36,NaN,05-05-2011,514,510
25,69550,270212,11200,11200,11195.143760,60 months,17.45%,15.33%,268.40,D,...,9061.76,5262.95,3808.25,0.000000,03-04-2013,268.40,28-05-2013,22-04-2013,659,655
26,69828,272798,15000,15000,14775.000000,36 months,9.14%,8.63%,474.42,A,...,16949.45,15000.00,2112.75,94.805060,08-08-2011,38.20,NaN,08-08-2011,639,635
27,69924,274280,10000,10000,10000.000000,36 months,14.95%,13.55%,339.60,D,...,12221.47,10000.00,2221.47,0.000000,11-04-2011,359.55,NaN,22-04-2013,764,760
28,69990,275254,15500,15500,15308.280000,36 months,9.39%,7.88%,484.85,A,...,17230.27,15500.00,1936.05,0.000000,01-02-2013,472.56,NaN,01-02-2013,759,755
29,70348,280311,9600,9600,9325.000000,36 months,13.33%,12.29%,320.19,C,...,11016.07,9600.00,1740.97,0.000000,03-05-2010,3773.06,NaN,22-04-2013,719,715
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,169044,153468,18500,18500,156.700000,36 months,11.94%,10.91%,604.88,C,...,176.68,18499.99,3275.42,30.238000,03-01-2011,636.34,NaN,06-12-2010,614,610
219,169254,168673,17000,17000,500.000000,36 months,9.38%,8.70%,538.23,B,...,554.95,17000.00,1867.70,0.000000,18-08-2009,8642.19,NaN,22-04-2013,594,590
220,169354,169334,5400,5400,375.000000,36 months,10.01%,9.33%,172.55,B,...,410.34,5400.00,494.49,0.000000,13-02-2009,3654.23,NaN,12-02-2009,669,665
221,169453,157525,18500,18500,750.000000,36 months,11.94%,10.91%,604.88,C,...,830.08,18500.00,1979.70,0.000000,18-02-2009,12618.00,NaN,11-04-2013,669,665
222,169525,142952,9000,9000,350.510000,36 months,10.65%,9.96%,290.24,B,...,407.93,9000.00,1448.57,29.995865,18-01-2011,1.46,NaN,07-01-2011,564,560
223,169793,164864,16000,16000,619.388066,36 months,13.24%,11.86%,530.36,D,...,360.83,5558.08,1865.00,0.000000,18-02-2009,530.36,NaN,06-11-2009,499,0
224,170488,165737,5000,5000,475.000000,36 months,9.38%,8.70%,158.31,B,...,539.76,5000.00,681.85,0.000000,19-07-2010,933.83,NaN,06-07-2010,699,695
225,170528,165069,12000,12000,656.690000,36 months,11.62%,10.59%,390.54,C,...,760.19,12000.00,2059.07,0.000000,17-12-2010,393.41,NaN,22-04-2013,784,780
226,170929,170462,9000,9000,1125.000000,36 months,13.88%,12.49%,301.04,D,...,1254.99,9000.00,1042.31,0.000000,16-01-2009,6432.48,NaN,21-12-2012,559,555
227,171220,170849,20000,20000,310.979002,36 months,12.58%,11.54%,659.91,C,...,326.06,4882.92,2283.17,32.995066,18-03-2009,200.01,NaN,06-10-2009,499,0
228,171298,171282,7000,7000,1000.000000,36 months,7.94%,7.43%,217.52,A,...,1118.17,7000.00,830.06,0.000000,17-12-2010,225.50,NaN,06-12-2010,784,780
229,172644,172641,12000,12000,156.680000,36 months,11.31%,10.28%,388.79,C,...,181.43,12000.00,1995.87,0.000000,21-12-2010,391.12,NaN,08-11-2011,719,715
230,172802,171004,5000,5000,775.000000,36 months,9.38%,8.70%,158.31,B,...,883.23,5000.00,698.69,0.000000,21-12-2010,159.37,NaN,02-04-2013,699,695
231,173029,173017,9600,9600,1150.001660,36 months,13.55%,12.17%,319.64,D,...,994.18,6335.33,1829.62,0.000000,20-04-2010,416.62,NaN,07-09-2010,499,0
232,173981,173944,3200,3200,525.000000,36 months,11.31%,10.28%,103.68,C,...,607.15,3200.00,501.16,0.000000,21-04-2010,902.55,NaN,22-04-2013,699,695
233,174377,174280,4800,4800,1650.000000,36 months,10.32%,9.64%,154.08,B,...,1883.72,4800.00,680.38,0.000000,22-02-2010,1631.54,NaN,08-02-2010,709,705
234,175056,174986,20000,20000,275.000000,36 months,11.62%,10.59%,650.90,C,...,317.06,20000.00,3067.08,0.000000,22-01-2010,7446.74,NaN,22-10-2012,714,710
235,175147,175123,2400,2400,1945.270000,36 months,15.15%,13.75%,81.74,E,...,2380.45,2400.00,542.10,0.000000,23-12-2010,85.43,NaN,12-04-2011,674,670
236,175193,173899,7500,7500,1000.000000,36 months,9.69%,9.01%,238.54,B,...,1144.70,7500.00,1086.78,0.000000,23-12-2010,242.56,NaN,06-12-2010,714,710
237,175582,174945,10000,10000,625.000000,36 months,14.19%,12.80%,335.98,D,...,752.86,10000.00,2059.05,0.000000,23-08-2010,1649.16,NaN,22-04-2013,689,685
238,176062,176043,2800,2800,849.998290,36 months,13.55%,12.17%,93.23,D,...,282.50,678.15,253.35,0.000000,23-10-2008,93.23,NaN,08-06-2009,499,0
239,176206,176187,3000,3000,750.000000,36 months,10.01%,9.33%,95.87,B,...,862.28,3000.00,450.31,0.000000,24-12-2010,100.22,NaN,24-05-2011,664,660
240,176610,152731,2975,2975,821.090000,36 months,10.65%,9.96%,95.94,B,...,935.01,2975.00,478.48,0.000000,23-12-2010,98.46,NaN,06-12-2010,739,735
241,176942,176612,16500,16500,1225.000000,36 months,14.19%,12.80%,554.37,D,...,1452.58,16500.00,3075.80,0.000000,24-03-2010,1950.71,NaN,05-04-2010,774,770
242,176995,176989,25000,25000,675.006307,36 months,15.78%,14.38%,859.07,E,...,341.75,8471.54,3553.14,0.000000,23-02-2009,859.07,NaN,08-12-2009,499,0
243,177075,177072,15000,15000,2799.130000,36 months,8.89%,8.38%,472.68,A,...,3112.56,15000.00,2015.31,0.000000,24-12-2010,482.31,NaN,22-04-2013,734,730
244,177259,154006,17950,17950,425.000000,36 months,11.94%,10.91%,586.90,C,...,467.76,17950.00,1810.63,0.000000,23-01-2009,12719.24,NaN,05-01-2009,764,760
245,177913,171100,15000,7000,350.000000,36 months,10.32%,9.64%,224.69,B,...,396.46,7000.00,930.77,0.000000,25-11-2009,2988.95,NaN,06-11-2009,754,750
246,178157,177995,14400,14400,474.994746,36 months,14.19%,12.80%,483.81,D,...,160.57,2812.13,2024.47,0.000000,28-10-2009,50.03,NaN,08-02-2010,594,590
247,178236,178070,12000,12000,2350.000000,36 months,13.55%,12.17%,399.55,D,...,2779.43,12000.00,2173.16,19.977500,25-02-2010,4185.78,NaN,20-11-2010,684,680

In [ ]:
# dataframe pd.DataFrame({'colname':list})